#SHUTDOWN ON USB REMOVAL
#ANY USB:
#ACTION=="remove", SUBSYSTEM=="usb",RUN+="/sbin/shutdown -h now"
#
#USB STORAGE DEVICES:
KERNEL=="sd[a-z]*", ACTION=="remove", RUN+="/usr/bin/killall mpradio && /sbin/shutdown -h now"
