[Unit]
Description=Morrolinux Pirate Radio
After=network.target auditd.service

[Service]
Type=idle
EnvironmentFile=/home/pi/.profile
ExecStart=/bin/bash -l -c '/home/pi/mpradio'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target
