[Unit]
Description=obex file transfer service
After=simple-agent.service dbus-org.bluez.service
Before=mpradio.service

[Service]
Type=simple
EnvironmentFile=/root/.profile
ExecStart=/usr/bin/obexpushd -B -n -o /pirateradio/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target
