[PIRATERADIO]
frequency=107.0
btGain=1.7            ;gain setting for bluetooth streaming
storageGain=1         ;gain setting for stored files streaming

[PLAYLIST]
persistentPlaylist=true
resumePlayback=true   ;not yet implemented
shuffle=true 

[RDS]
updateInterval=3      ;seconds between RDS refresh. lower values could result in RDS being ignored by your radio receiver
charsJump=6           ;how many characters should shift between updates [1-8]
