[PIRATERADIO]
frequency=107.0
btGain=1.7            	;gain setting for bluetooth streaming
storageGain=1         	;gain setting for stored files streaming
output=fm		;[fm/analog] for FM output or 3.5 mm jack output
btBoost=true		;Enhance Bluetooth audio. This might add a little latency

[PLAYLIST]
persistentPlaylist=true
resumePlayback=true   	;not yet implemented
shuffle=true 

[RDS]
updateInterval=3      				;seconds between RDS refresh. lower values could result in RDS being ignored by your radio receiver
charsJump=6           				;how many characters should shift between updates [1-8]
rdsPattern=$ARTIST_NAME - $SONG_NAME	;Pattern which is passed to eval() to produce title
