[Unit]
Description=RFCOMM service
After=bluetooth.service mpradio.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/local/bin/rfcomm-remote

[Install]
WantedBy=multi-user.target
